body {
    display:  flex;
    justify-content: center;
    margin: 0;
    padding: 50px 30px;
    background-color:  #1e1f24;
    color: #f0f0f0;
    font-family: "Intern";
    min-height: 100vh;
    box-sizing: border-box;
}

.notes-cont {
    width: 100%;
    max-width: 900px;
}

.note-input {
    display: flex;
    margin-bottom: 25px;
    gap: 12px;
}

.note-input input {
    padding: 16px 20px;
}